.title, .subtitle, .sectionTitle, #resultsinstructions{
	color: #008000;
	text-align:center
}

div h2{
	color: #008000;
	font-style: italic;
}

.genre, .decade, a:link{
	color: #FFFFFF;
	background-color: #008000;
}
a:visited{
	color:  #000000;
}
a:hover{
	color:  #00FFFF;
}

#searchSection, #createSection{
	text-align:left;
	margin-left: 200px;
	
}
#searchpage {
	border: thin solid black;
	width: 600px;
	margin-left: auto;
	margin-right:  auto;
	margin-top:  150px;
	background-color:  #E6E6E6;
}
.movieattributes {
	border: thin solid black;
	margin-left: auto;
	margin-right:  auto;
	margin-top:  150px;
	background-color:  #E6E6E6;
}
#results1,#results2, #results3 {
	border: thin solid black;
	width:  300px;
}
#results1{
	float:  left;
}
#results2{
	position:  relative;
	top:  -20px;
	float:  left;
}
#results3{
	position:  relative;
	top:  -39px;
	float: left;
}
.poster {
	float:  left;
}
#resultstitle {
	text-align: center;
	color: #008000;
}
#SearchAgain {
	float: left;
}
#searchpage, #resultspage, #moviedescription {
	font-family:  Calibri;
}
#resultspage, #moviedescription {
	background-color: #E6E6E6
}
